.ijo{
  margin-top:400px;
  background-color: black;
}

.teks-atas{
  margin-top: 13px;
  margin-bottom: 0px;
  font-size: 80%;
  color: white;
}

.teks-bawah{
  margin-bottom: 13px;
  margin-top: 5px;
  font-size:50%;
  color:white;
}

